*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
body,html{
    height: 100%;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
.btn{
    padding: 0.7rem 2rem;
    border: 1px solid transparent;
    color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
    .btn-prim{
        background-color:  hsl(171, 66%, 44%);
    }
    .btn-sec{
        background-color: hsl(233, 100%, 69%);
    }
}
h1,h2{
    color: hsl(212, 12%, 22%);
}
p{
    color: hsl(210, 2%, 44%);
    margin: 1rem auto;
    line-height: 1.5;
}
// container
.container{
    padding: 0 15px;
    margin: 0 auto;
}

@media(min-width:576px){
    .container{
        width: 540px;
    }
}
@media(min-width:768px){
    .container{
        width: 720px;
    }
}
@media(min-width:992px){
    .container{
        width: 992px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1140px;
    }
}
@media(min-width:1400px){
    .container{
        width: 1320px;
    }
}

.section-one{
position: relative;
padding: 100px 0 60px;
& > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.mobile{
        display: none;
    }
}
.container{
    text-align: center;
  .text{
    max-width: 600px;
    margin: 2.5rem auto 0;
 
    p{
        max-width: 550px;
    }

  }
}
    }
.section-two{
    padding: 60px 0;
    .text{
        text-align: center;
        max-width: 620px;
        margin: 0 auto;
    }
    .flex-box{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        transform: translateX(-7%);
        -webkit-transform: translateX(-7%);
        -moz-transform: translateX(-7%);
        -ms-transform: translateX(-7%);
        -o-transform: translateX(-7%);
        img
{
            transform: translateX(-15%);
            -webkit-transform: translateX(-15%);
            -moz-transform: translateX(-15%);
            -ms-transform: translateX(-15%);
            -o-transform: translateX(-15%);
            max-width: 100%;
}
.info{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    p{
    max-width: 300px;

    }
}
    }
}
.section-three{
    padding: 60px 0;
    .container{
        text-align: center;
        .text{
            max-width: 600px;
            margin: 0 auto;
        }
        img{
            max-width: 100%;
        }
    }
}
.section-four{
    padding: 60px 0;
    text-align: center;
.flex-box{
    display: flex;
    gap: 30px;
    margin-top: 4rem;
    justify-content: space-between;

    align-items: center;
    img{
        max-width: 100%;
    }
}

}
.section-five{
    text-align: center;
    padding: 60px 0;
}
// footer
footer{
    background-color: hsl(0, 0%, 94%);
    padding: 60px 0;
    .container{
        display: flex;
        justify-content: space-between;
        img{
            width: 60px;
            height: 60px;
            align-self: center;
        }
        .box{
            flex: 1;
        }
     .last-box{
        align-self: center;
        flex: 2;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        svg:hover{
            cursor: pointer;
            path{
                fill:hsl(171, 66%, 44%);
            }
        }
     }
    }
}
// footer
// responsive
    @media (max-width:768px){
        .buttons{
            flex-direction: column;
        }
        .section-one{
            .desktop{
                display: none;
            }
            .mobile{
                display: block !important;
            }
        }
        .section-two{
            .flex-box{
                flex-direction: column;
                transform: translateX(0);
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                img
{
                    transform: translateX(0);
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
}
.info{
    text-align: center;
}
            }
        }
        .section-four{
            .flex-box{
                flex-direction: column;
            }
            .flex-box:nth-child(3){
                gap: 50px;
            }
        }
        footer{
            .box:first-child{
                margin-bottom: 1rem;
            }
        .middle{
            p:first-child{
                margin-top: 0;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
        .last-box{
            margin-top: 2rem;
        }
            .container{
                flex-direction: column;
                text-align: center;
                gap: 0;
                justify-content: center;
                align-items: center;
            }
        }
    }